.DS_Store
.vscode

# secrets
.env

# rust builds
/target

# node dependencies
*/*/node_modules
*/*/dist

# terraform secrets
/terraform/terraform.tfvars
/terraform/.terraform.lock.hcl
/terraform/.terraform
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
