ANTHROPIC_API_KEY=
DEEPSEEK_API_KEY=
GOOGLE_GEMINI_API_KEY=

ENV=testing
P2P_USAGE_DB_PATH=./temp-data/p2p_usage.db
LLM_PROXY_INTERNAL_API_URL=https://localhost:7070


NEAR_RPC_URL=
NEAR_SIGNER_ACCOUNT_ID=
NEAR_SIGNER_PUBLIC_KEY=
NEAR_SIGNER_PRIVATE_KEY=