ANTHROPIC_API_KEY=

ENV=testing
P2P_USAGE_DB_PATH=./temp-data/p2p_usage.db
LLM_PROXY_API_URL=https://localhost:7070
NODE_PUBKEY_EXPORT_PATH=./llm-proxy/pubkeys/p2p-node/p2p_node.pub.pem
PROXY_PUBLIC_KEY_PATH=./llm-proxy/pubkeys/llm-proxy/llm-proxy.pub.pem

# Only needed for experimental paid API key delegation test (not implemented yet)
NEAR_RPC_URL=https://rpc.testnet.near.org
NEAR_SIGNER_ACCOUNT_ID=
NEAR_CONTRACT_ACCOUNT_ID=
NEAR_SIGNER_PUBLIC_KEY=
NEAR_SIGNER_PRIVATE_KEY=